flask_session/
webapp/static/js/javascript.bundle.js
webapp/static/js/optional.chunk.js
*/static/css/styles.css
webapp/vad.worklet.bundle.min.js
*.onnx
*.pt
node_modules/
*.pyc
*.wasm
api/settings.py
models.yaml
chromdb/
voices/
calendar_credentials.json
local/
tts/old/