{% extends "base.html" %}

{% block nav %}
<a href="/">Chat</a> |
<a href="/rag">RAG</a> |
Audio
{% endblock %}

{% block input %}
<input v-model="prompt" id="prompt" class="form-control w-75" type="text" placeholder="Prompt" @keydown.enter.prevent="handleSendMessageAudio" :disabled="! audioFileUploaded" />
{% endblock %}

{% block chat_handler %}sendMessageToChatbotRag{% endblock %}

{% block content %}
    <div class="d-flex mb-3">
        <input type="file" class="form-control w-50" @change="handleFileUploadAudio" />
        <div v-if="audioFileUploaded" class="d-flex align-items-center">
            <div>
                <font-awesome-icon icon="file-alt" class="fa-lg text-primary ms-3" />
            </div>
            <div class="ms-2" v-html="getAudioFileSize()"></div>
        </div>
    </div>
    <div v-if="audioFileTranscript" id="transcript" class="position-relative">
        <div id="copyIcon" class="hover-target d-none" @click="handleCopyText">
            <font-awesome-icon :icon="icon" class="fa-lg ms-3" />
        </div>
        [[ audioFileTranscript ]]
    </div>
{% endblock %}
