<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bordercore AI</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/styles.css") }}" />
        <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@ricky0123/vad-web@0.0.7/dist/bundle.min.js"></script>
    </head>
    <body class="m-3">
        <div id="vue-app">
            <div class="d-flex align-items-center">
                <h1>Bordercore AI</h1>
                <div id="canvas-container" class="ms-5"></div>
                <div class="d-flex flex-grow-1 justify-content-end">
                    <button class="hamburger" @click="showMenu = !showMenu">
                        <div class="hamburger__line"></div>
                        <div class="hamburger__line"></div>
                        <div class="hamburger__line"></div>
                    </button>
                </div>
            </div>
            <hr />
            <div class="chatbot-container">
                <div>
                    <form>
                        <div class="d-flex align-items-center mb-3">
                            {% block input %}{% endblock %}
                            <div v-if="chatHistory.length > 2" class="icon text-primary ms-3" @click="handleRegenerate" data-bs-toggle="tooltip" data-placement="bottom" title="Regenerate Response">
                                <font-awesome-icon icon="rotate-left" />
                            </div>
                            <div v-if="chatHistory.length > 2" class="icon text-primary ms-3" @click="handleNewChat" data-bs-toggle="tooltip" data-placement="bottom" title="New Chat">
                                <font-awesome-icon icon="plus" />
                            </div>
                            <div class="ms-4">
                                <o-switch v-model="microPhoneOn" @click="handleListen('{% block chat_handler %}{% endblock %}')">
                                    Mic
                                </o-switch>
                            </div>
                            <div class="ms-4 me-4">
                                <o-switch v-model="microPhoneVADOn" @click="handleListenVAD">
                                    VAD
                                </o-switch>
                            </div>
                        </div>
                    </form>
                    {% block content %}{% endblock %}
                    <div class="message-container">
                        <div v-for="message in filteredChatHistory" :key="message.id" :class="'chatbot-' + message.role" class="d-flex px-3 mb-2">
                            <div v-if="message.role === 'user'" class="role fw-bold me-2" v-cloak>
                                You
                            </div>
                            <div v-else class="role fw-bold me-2" v-cloak>
                                AI
                            </div>
                            <div v-html="getMarkdown(message.content)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chatbot-sidepanel ps-2" v-cloak>
                    <div class="text-info">
                        Selected Model
                    </div>
                    <div class="mt-3">
                        <select v-model="model" class="form-select" @change="handleChangeModel">
                            <option v-for="model in modelList" :value="model.model">
                                [[ model.name ]]
                            </option>
                        </select>
                    </div>
                    <div v-if="speak">
                        <img src="{{ url_for('static', filename='img/speaker-transparent.png') }}" width="64" height="64" />
                    </div>
                    <div class="text-info d-flex">
                        <o-switch id="controlLightsSwitch" v-model="controlLights" position="left" class="mt-3">
                            Control Lights
                        </o-switch>
                    </div>
                    <div v-if="notice" class="notice animate__animated animate__pulse animate__slower animate__infinite d-flex align-items-center fw-bold ms-3 mt-5 px-3">
                        <span v-cloak>[[ notice ]]</span>
                    </div>
                    <div v-if="error" class="notice animate__animated animate__pulse animate__slower w-100 mt-3 px-3" :class="'text-' + error.variant">
                        <span v-cloak>[[ error.body ]]</span>
                    </div>
                </div>
            </div>
            <Transition name="fade">
                <div id="menu" v-show="showMenu" class="p-3" v-cloak>
                    <h4 class="text-info">
                        Preferences
                    </h4>
                    <hr />
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label">Temperature</label>
                        </div>
                        <div class="col-auto">
                            <Slider v-model="temperature" ref="sliderTemperature" :min="0.0" :max="1.0" :step="0.1" :show-input="false" />
                        </div>
                        <div class="col-auto">
                            <span class="form-text">
                                0 (Predictable) to 1 (Random)
                            </span>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label">Audio Speed</label>
                        </div>
                        <div class="col-auto">
                            <Slider v-model="audioSpeed" ref="sliderSpeed" :min="0" :max="2" :step="0.1" :show-input="false" />
                        </div>
                        <div class="col-auto">
                            <span class="form-text">
                                0 (Slow) to 2 (Fast)
                            </span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-auto">
                            <o-switch id="speakSwitch" v-model="speak" position="left">
                                Speak
                            </o-switch>
                        </div>
                        <div class="col-auto">
                            <span class="form-text">
                                Give the AI a voice
                            </span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-auto">
                            <label class="col-form-label">TTS Host</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" v-model="ttsHost" size="20" />
                        </div>
                        <div class="col-auto">
                            <span class="form-text">
                                Hostname and port for TTS server
                            </span>
                        </div>
                    </div>
                </div>
            </Transition>
            <div id="modalProcessing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                    <h4 class="modal-content p-3 d-flex flex-row justify-content-center">
                        <div>
                            Processing...
                        </div>
                        <div class="spinner-border ms-2 text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h4>
                </div>
            </div>
        </div>
        <script id="session" type="application/json">{{ session|tojson|safe }}</script>
        <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    </body>
</html>
