<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bordercore AI</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/styles.css") }}" />
        <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@ricky0123/vad-web@0.0.7/dist/bundle.min.js"></script>
    </head>
    <body class="m-3">
        <div id="vue-app" v-cloak>
            <div id="top-header" class="d-flex align-items-start">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="864" height="170" id="logo" />
                <div class="animation-container">
                {% for _ in range(num_stars) %}
                    <div class="c"></div>
                {% endfor %}
                </div>
                <div id="canvas-container" class="ms-5"></div>
                <div id="top-right" class="d-flex flex-column flex-grow-1">
                    <div class="d-flex justify-content-end">
                        <button class="hamburger" @click="showMenu = !showMenu">
                            <div class="hamburger__line"></div>
                            <div class="hamburger__line"></div>
                            <div class="hamburger__line"></div>
                        </button>
                    </div>
                    <div class="text-nowrap mt-auto">
                        {% block nav %}{% endblock %}
                    </div>
                </div>
            </div>
            <hr id="top-divider" />
            <div class="chatbot-container">
                <div>
                    <form>
                        <div class="d-flex align-items-center mb-3">
                            {% block input %}{% endblock %}
                            <div v-if="chatHistory.length > 2 || error" class="icon text-primary ms-3" @click="handleRegenerate" data-bs-toggle="tooltip" data-placement="bottom" title="Regenerate Response">
                                <font-awesome-icon icon="rotate-left" />
                            </div>
                            <div v-if="chatHistory.length > 2 || error" class="icon text-primary ms-3" @click="handleNewChat" data-bs-toggle="tooltip" data-placement="bottom" title="New Chat">
                                <font-awesome-icon icon="plus" />
                            </div>
                            <transition enter-active-class="animate__animated animate__bounceIn" leave-active-class="animate__animated animate__bounceOut">
                                <div v-if="clipboard" class="icon text-info ms-3" @click="handleClipboardClick" data-bs-toggle="tooltip" data-placement="bottom" title="Clipboard">
                                    <font-awesome-icon icon="paste" class="fa-2x" />
                                </div>
                            </transition>
                        </div>
                    </form>
                    {% block content %}{% endblock %}
                    <div
                        class="container d-flex"
                        :class="{'drag-over': isDragOver}"
                        @dragover.prevent="isDragOver = true"
                        @drop="isDragOver = false"
                        @drop.prevent="handleImageDrop"
                        @dragenter.prevent
                        @dragleave.prevent="isDragOver = false"
                    >
                        <div id="message-container" class="align-items-start">
                            <div v-for="message in filteredChatHistory" :key="message.id" :class="'chatbot-' + message.role" class="d-flex px-3 mt-2">
                                <div v-if="message.role === 'user'" class="role fw-bold me-2" v-cloak>
                                    You
                                </div>
                                <div v-else class="role fw-bold me-2" v-cloak>
                                    AI
                                </div>
                                <div v-html="getMarkdown(message.content)">
                                </div>
                            </div>
                            <div v-show="waiting" class="spinner-border ms-3 text-info" enter-active-class="animate__animated animate__fadeIn" role="status">
                            </div>
                            <div v-show="error" class="notice animate__animated animate__headShake w-100 fw-bold">
                                <font-awesome-icon icon="exclamation-triangle" class="fa-xl me-2" :class="'text-' + error.variant"></font-awesome-icon>
                                <span>[[ error.body ]]</span>
                            </div>
                        </div>
                        <div id="artifact-container" :class="{'d-none': visionImage ===  null }" class="p-2">
                            <img id="image-preview" class="w-100 p-1" src="" alt="Image preview">
                        </div>
                    </div>
                </div>
                <div class="chatbot-sidepanel ps-2" v-cloak>
                    <div class="text-info">
                        Selected Model
                    </div>
                    <div class="mt-3 mb-4">
                        <select v-model="model" class="form-select" @change="handleChangeModel">
                            <option v-for="model in modelList" :value="model.model">
                                [[ model.name ]]
                            </option>
                        </select>
                    </div>
                    <div class="text-info">
                        Features
                    </div>
                    <div id="switches" class="d-flex flex-wrap">
                        <div class="text-nowrap w-100 mt-3 me-5 mb-2">
                            <o-switch v-model="microPhoneOn" @click="handleListen('{% block chat_handler %}{% endblock %}')">
                                Speech to Text
                            </o-switch>
                        </div>
                        <div class="text-nowrap w-100 mt-3 me-5 mb-2">
                            <o-switch id="speakSwitch" v-model="speak">
                                Text to Speech
                            </o-switch>
                        </div>
                        <div class="text-nowrap w-100 mt-3 me-5 mb-2">
                            <o-switch v-model="microPhoneVADOn" @click="handleListenVAD">
                                Speech Detection (VAD)
                            </o-switch>
                        </div>
                        <div class="text-nowrap w-100 mt-3 me-5 mb-2">
                            <o-switch v-model="wolframAlpha">
                                Wolfram Alpha
                            </o-switch>
                        </div>
                    </div>
                    <div v-if="notice" class="notice animate__animated animate__pulse animate__slower animate__infinite d-flex align-items-center fw-bold ms-3 mt-5 px-3">
                        <span v-cloak>[[ notice ]]</span>
                    </div>
                </div>
            </div>
            <div id="audioPlayer" class="d-none">
                <div id="audioPlayerInfo" class="position-relative d-flex align-items-center justify-content-center w-100">
                    <div v-if="audioIsPlayingOrPaused" class="d-flex">
                        <img id="isPlaying" src="{{ url_for('static', filename='img/equaliser-animated-green.gif') }}" class="mb-1 me-2" width="20" height="20" />
                        <div v-if="musicInfo">
                            Playing <span class="text-info">[[ currentSong.title ]]</span> by <span class="text-info">[[ currentSong.artist ]]</span>
                            <div id="songIndex">
                                <span class="me-3" :class="songIndex > 0 ? 'text-info' : 'text-secondary'" >
                                    <font-awesome-icon icon="backward" class="glow" @click="handleSongBackward" />
                                </span>
                                <span class="fw-bold">[[ songIndex + 1 ]]</span> / <span class="fw-bold">[[ musicInfo.length ]]</span>
                                <span class="ms-3" :class="songIndex < musicInfo.length - 1 ? 'text-info' : 'text-secondary'" >
                                    <font-awesome-icon icon="forward" class="glow" @click="handleSongForward" />
                                </span>
                            </div>
                        </div>
                        <div v-else>
                            Playing [[ uploadedFilename ]]
                        </div>
                    </div>
                </div>
                <media-controller v-pre audio>
                    <audio
                        id="player"
                        slot="media"
                        src=""
                        type="audio/mpeg"
                    >
                    </audio>
                    <media-control-bar class="media-control-bar">
                        <media-play-button id="media-play-button">
                        </media-play-button>
                        <media-time-display showduration>
                        </media-time-display>
                        <media-time-range>
                        </media-time-range>
                        <media-mute-button>
                        </media-mute-button>
                        <media-volume-range>
                        </media-volume-range>
                    </media-control-bar>
                </media-controller>
            </div>
            <Transition name="fadein">
                <div id="menu" v-show="showMenu" class="p-3" v-cloak>
                    <h4 class="text-info">
                        Preferences
                    </h4>
                    <hr />
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label">Temperature</label>
                        </div>
                        <div class="col-auto">
                            <Slider v-model="temperature" ref="sliderTemperature" :min="0.0" :max="1.0" :step="0.1" :show-input="false" />
                        </div>
                        <div class="col-auto">
                            <span class="form-text">
                                0 (Predictable) to 1 (Random)
                            </span>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label">Audio Speed</label>
                        </div>
                        <div class="col-auto">
                            <Slider v-model="audioSpeed" ref="sliderSpeed" :min="0" :max="2" :step="0.1" :show-input="false" />
                        </div>
                        <div class="col-auto">
                            <span class="form-text">
                                0 (Slow) to 2 (Fast)
                            </span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-auto">
                            <label class="col-form-label">TTS Host</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" v-model="ttsHost" size="20" />
                        </div>
                        <div class="col-auto">
                            <span class="form-text">
                                Hostname and port for TTS server
                            </span>
                        </div>
                    </div>
                </div>
            </Transition>
            <div id="modalProcessing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                    <h4 class="modal-content p-3 d-flex flex-row justify-content-center">
                        <div>
                            Processing...
                        </div>
                        <div class="spinner-border ms-2 text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h4>
                </div>
            </div>
            <div id="modalClipboard" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <h6 class="modal-content p-3 d-flex flex-row justify-content-center">
                        <div class="d-flex flex-column">
                            <h5 class="text-info">
                                Pasted content
                            </h5>
                            <div>
                                [[ clipboard?.content ]]
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary button-small mt-3" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-warning button-small ms-3 mt-3" @click="handleDeleteClipboard">Delete</button>
                            </div>
                        </div>
                    </h6>
                </div>
            </div>
        </div>
        <script id="session" type="application/json">{{ session|tojson|safe }}</script>
        <script id="settings" type="application/json">{{ settings|tojson|safe }}</script>
        <div id="controlValue" class="d-none">{{ control_value }}</div>
        <div id="chatEndpoint" class="d-none">{{ chat_endpoint }}</div>
        <script src="{{ url_for('static', filename='js/javascript.bundle.js') }}"></script>
    </body>
</html>
