{% extends "base.html" %}

{% block nav %}
    <my-nav active="RAG"></my-nav>
{% endblock %}

{% block input %}
<input v-model="prompt" id="prompt" class="form-control w-75" type="text" placeholder="Prompt" @keydown.enter.prevent="handleSendMessageRag" :disabled="! ragFileUploaded" />
{% endblock %}

{% block chat_handler %}sendMessageToChatbotRag{% endblock %}

{% block content %}
    <div class="d-flex align-items-center mb-3">
        <div class="file-input-wrapper">
            <font-awesome-icon icon="paperclip" class="fa-lg text-primary ms-3 me-1"></font-awesome-icon> Add content
            <input type="file" class="file-input" @change="handleFileUpload">
        </div>
        <div v-if="ragFileUploaded" class="d-flex align-items-center">
            <div>
                <font-awesome-icon icon="file-alt" class="fa-lg text-primary ms-3" />
            </div>
            <div class="file-name ms-2">[[ uploadedFilename ]]</div>
            <div class="ms-2">•</div>
            <div class="ms-2" v-html="getRagFileSize()"></div>
        </div>
    </div>
{% endblock %}
