{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "google",
        "plugin:vue/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", 4],
        "max-len": "off",
        "quotes": [2, "double"],
        "require-jsdoc": "off"
    }
}
